:root {
    /*Se crean variables para fijar una medida en la parte de arriba y abajo de la pagina*/
    --header-height: 5rem;
    --footer-height: 4rem;
}

html {
    box-sizing: border-box;
}

body {}

/*------------------------ SECCIÓN DEL HEADER -----------------------*/
.header {
    height: var(--header-height);
    box-sizing: border-box;
    background-color: #C4C4C4;
    background-image: url("../images/FondoHeader.png");
    background-repeat: no-repeat;
    background-size: cover;



    .logo {

        width: 5.4rem;
        height: 5.4rem;
        object-fit: contain;
        box-sizing: border-box;
    }

    .container-header {
        height: var(--header-height);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.template-container {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

/* .header,
.footer {
    /* background-color: red; 
}*/

/*------------------------ SECCIÓN DEL MAIN -----------------------*/
.main {
    background-color: orange;
    background-image: url("../images/FondoAzulMain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container-menu {

    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;

    .submenu,
    h2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .5rem;
    }
}

.container-cards {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    gap: 1rem;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;

    .card-content {
        border-radius: 1rem 1rem 0rem 0rem;
        box-shadow: 0px 0px 20px #000;
        /* height: 227px; */
        width: 100%;
        
    }

    .section-img {
        width: 100%;
    }

    img {
        display: block;
        width: 100%;
        border-radius: 1rem 1rem 0rem 0rem;
        object-fit: contain;
        box-sizing: border-box;
    }

    .card-name {
        background-color: orange;
        color: white;
        text-align: center;
        padding: 12px;
        border-radius: 0 0 .5rem .5rem;
        margin: auto;
        text-transform: uppercase;
        font-weight: bold;
        font-size: x-large;
    }


}


/*------------------------ SECCIÓN DEL FOOTER -----------------------*/
.footer {
    background-color: #91A4B8;
}

.container-footer {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: var(--footer-height);

}

/*-----------------------------------------------------*/
.container {
    /* border: 2px dotted blue; */
    max-width: 96vw;
    margin: 0 auto;
    padding: 0 .8rem;
    box-sizing: border-box;
    width: 100%;
}

.container-fluid {
    border: 2px dotted yellow;
    max-width: 100vw;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/*------------------------ SECCIÓN MEDIA QUERY´S -----------------------*/
/** 567px --> 767px */
@media (min-width: 567px) {
    .container {
        max-width: 36rem;
    }

    .container-cards {
        flex-direction: row;
    }

    .card-content {
        flex: 1 0 45%;
    }

    .container-footer {
        color: white;
        flex-direction: row;
        justify-content: space-between;
    }

}

/** 768px --> 1023px */
@media (min-width: 768px) {

    .container {
        max-width: 72rem;
        padding: 0 2.4rem;
    }



    .card-content {
        flex: 0 0 31%;
    }
}

/** 1024px --> 1999px */
@media (min-width: 1024px) {
    .container {
        max-width: 99.2rem;
        padding: 0 6.2rem;
    }

    .card-content {
        flex: 1 0 23%;
    }

    .container-forms-cards {
        .content-card {
            flex: 1 1 23%;
        }
    }
}

/** 1600px --> 1919px */
@media (min-width: 1600px) {
    .container {
        max-width: 100rem;
        padding: 0 5.6rem;
    }

    .field button {
        width: 50%;
    }
}

/** 1920px --> 2159px */
@media (min-width: 1920px) {
    .container {
        max-width: 160rem;
        padding: 0 6.4rem;
    }
}

/** 2160px --> 2459px */
@media (min-width: 2160px) {
    .container {
        max-width: 176rem;
        padding: 0 7.2rem;
    }
}

/** 2160px --> more */
@media (min-width: 2560px) {
    .container {
        max-width: 192rem;
        padding: 0 8rem;
    }
}