html {
    box-sizing: border-box;
}

div {
    display: grid;
    min-height: 32.6dvh;
    grid-template-rows: auto 1fr auto;
}

.div-header{
    border: 2px solid blue;
    background-color: #C4C4C4;
    .logo {
        width: 4rem;
        padding: 2rem;
    }
}
.div-main-content{
    border: 2px solid red;
    background-image: url("../images/FondoAzulMain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.div-container-footer{
    border: 2px solid green;
    background-color: #91A4B8;
}





/** 567px --> 767px */
@media (min-width: 567px) {
    .container {
        max-width: 4rem;
        padding: 0 1.6rem;
    }
}

/** 768px --> 1023px */
@media (min-width: 768px) {
    .container {
        max-width: 72rem;
        padding: 0 2.4rem;
    }

}

/** 1024px --> 1999px */
@media (min-width: 1024px) {
    .container {
        max-width: 99.2rem;
        padding: 0 3.2rem;
    }
}

/** 1600px --> 1919px */
@media (min-width: 1600px) {
    .container {
        max-width: 144rem;
        padding: 0 5.6rem;
    }
}

/** 1920px --> 2159px */
@media (min-width: 1920px) {
    .container {
        max-width: 160rem;
        padding: 0 6.4rem;
    }
}

/** 2160px --> 2459px */
@media (min-width: 2160px) {
    .container {
        max-width: 176rem;
        padding: 0 7.2rem;
    }
}

/** 2160px --> more */
@media (min-width: 2560px) {
    .container {
        max-width: 192rem;
        padding: 0 8rem;
    }
}

