header {

    background-color: #7aa3cc;
    border: 1.5px solid black;
    padding: 10px;
    margin: 5px;
    height: 100px;
   


}

.cabecera {
    border: 2px dotted green;
    text-align: center;
    
    

}

main {
    
    background-color: #d4dee7;
    border: 1.5px solid black;
    text-align: center;
    padding: 5px;
    margin: 5px;
    height: 650px;
   
 

}

main .mainclass {
    border: 2px dotted green;
    padding: 5px;
    
}



footer  {
    
    background-color: #e5ebe7;
    border: 1.5px solid black;
    padding: 5px; 
    margin: 5px; 

}

footer div{
    border: 2px dotted green;
    display: flex;
    text-align: center;
    padding: 10px;
    margin: 5px;
    
   
}